<p-button label="New Topic" severity="success" (onClick)="showModal()" />
<p-dialog
  header="Insert the topic details"
  [modal]="true"
  [(visible)]="isVisible"
  [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [maximizable]="true">

  <form [formGroup]="topicCreation" (ngSubmit)="onSubmit()" >

    <div class="flex flex-row gap-4" >
      <div class="flex flex-column gap-2" >
        <label for="name">Name</label>
        <input
          pInputText
          id="name"
          aria-describedby="name-help"
          formControlName="name" />
      </div>
      <div class="flex flex-column gap-2" >
        <label for="duration">Duration(in months)</label>
        <input
          pInputText
          id="duration"
          aria-describedby="duration-help"
          formControlName="duration" />
      </div>
    </div>

    <div class="flex flex-column gap-2 mt-2" >
      <label for="desc">Description</label>
      <textarea
        id="desc"
        rows="5"
        cols="30"
        pInputTextarea
        formControlName="description">
      </textarea>
    </div>

    <div formArrayName="requirements" class="mt-2 mb-4">

      <div class="flex flex-row align-items-center gap-4" >
        <p class="text-lg">
          Requirements for this topic
        </p>
        <p-button label="Add requirement" (click)="addRequirement()" />
      </div>

      <div *ngFor="let requirement of requirements.controls; let i=index">
        <div class="flex flex-column gap-2 mt-2">
          <label for="requirement-{{ i }}">Enter a requirement</label>
          <input
            pInputText
            id="requirement-{{ i }}"
            aria-describedby="requirement-help"
            [formControlName]="i" />
        </div>
      </div>

    </div>
    <p-button label="Submit" (click)="onSubmit()" />
  </form>
</p-dialog>
