<p-toast />

<p-button label="New application" severity="success" (onClick)="isVisible = true" />
<p-dialog
  header="Insert the recruiter informations"
  [modal]="true"
  [(visible)]="isVisible"
  [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [maximizable]="true">


  <form>
    <div class="flex flex-column gap-4 mb-3" >
      <p-dropdown
        [options]="topics_options"
        optionLabel="name"
        optionValue="id"
        placeholder="Select a Topic"
        [(ngModel)]="candidacyReq.topic_id"
        name="topic_id"
      />

      <div class="custom-file-upload">
        <label for="file-upload" class="file-upload-label">
          <i class="pi pi-upload"></i> Choose a file
        </label>
        <input
          id="file-upload"
          type="file"
          class="file-upload-input"
          accept="application/pdf"
          (change)="onSelectFile($event)"
        />
      </div>
    </div>
    <p-button label="Submit" (click)="onSubmit()" />
  </form>

</p-dialog>


