<p-button [link]="true" label="Details" icon="pi pi-info-circle" (onClick)="showModal()" />
<p-dialog
  header="Topic details"
  [modal]="true"
  [(visible)]="isVisible"
  [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [maximizable]="true">
    <p class="text-color-secondary" >Name</p>
    <p>{{topicDetails.name}}</p>

    <p class="text-color-secondary" >Description</p>
    <p>{{topicDetails.description}}</p>

    <p class="text-color-secondary" >Requirements</p>
    <ul>
      @for (requirement of topicDetails.requirements; track requirement){
        <li>{{requirement}}</li>
      }
    </ul>

    <p class="text-color-secondary" >Duration</p>
    <p>{{topicDetails.duration}} Months</p>

  @if (isManageable){
    <div class="flex justify-content-end gap-2" >
      <p-button label="Modify topic" severity="info" />
      <p-button label="Delete topic" severity="danger" />
    </div>
  }


</p-dialog>

