<p (click)="isVisible = true" ><span class="pi pi-sign-out mr-1 " ></span>Logout</p>
<p-dialog header="Edit Profile" [modal]="true" [(visible)]="isVisible" [style]="{ width: '25rem' }">
  <div class="flex flex-row gap-2 align-items-center " >
    <span class="pi pi-exclamation-triangle" ></span>
    <p>
      Are you sure that you want to logout ?
    </p>
  </div>
  <div class="flex justify-content-end gap-2">
    <p-button label="Cancel" severity="secondary" (onClick)="isVisible = false" />
    <p-button label="Confirm" severity="danger" (onClick)="isVisible = false" />
  </div>
</p-dialog>
