<div class="border-1 border-300 border-round-lg p-4 m-6" >
  <p class="text-4xl border-bottom-1 pb-3 border-300 mt-0" >Login to your account</p>
  <form  >
    <div class="flex flex-column gap-2 my-2" >
      <label for="email">Email</label>
      <input
        pInputText
        id="email"
        aria-describedby="duration-help"
      />
    </div>

    <div class="flex flex-column gap-2 my-2 " >
      <label for="email">Password</label>
      <input
        pInputText
        id="password"
        type="password"
        aria-describedby="duration-help"
      />
    </div>
    <p-button label="Login" />
    <div class="flex flex-row align-items-center" >
      <p>Don't have an account? </p>
      <p-button label="register" [link]="true" (onClick)="this.router.navigate(['/register/candidate'])" />
    </div>
  </form>
</div>

