<p-button label="Register new" severity="success" (onClick)="showModal()" />
<p-dialog
  header="Insert the recruiter informations"
  [modal]="true"
  [(visible)]="isVisible"
  [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [maximizable]="true">

  <form [formGroup]="recruiterRegistration" (ngSubmit)="onSubmit()" >

    <div class="flex flex-row gap-4" >
      <div class="flex flex-column gap-2 w-6 " >
        <label for="first">First name</label>
        <input
          pInputText
          id="first"
          aria-describedby="name-help"
          formControlName="first_name" />
      </div>
      <div class="flex flex-column gap-2 w-6 " >
        <label for="last">Last name</label>
        <input
          pInputText
          id="last"
          aria-describedby="duration-help"
          formControlName="last_name" />
      </div>
    </div>

    <div class="flex flex-column gap-2 my-2" >
      <label for="email">Email</label>
      <input
        pInputText
        id="email"
        aria-describedby="duration-help"
        formControlName="email" />
    </div>

    <div class="flex flex-column gap-2 my-2 " >
      <label for="email">Password</label>
      <input
        pInputText
        id="password"
        type="password"
        aria-describedby="duration-help"
        formControlName="password" />
    </div>

    <div class="flex flex-column gap-2 my-2 " >
      <label for="spec">Phone number</label>
      <input
        pInputText
        id="phone"
        aria-describedby="phone-help"
        formControlName="phone_number" />
    </div>

    <div class="my-2">
      <label>Recruiter type</label>

      <div class="flex flex-row gap-3 my-2" >
        <div class="flex align-items-center gap-1">
          <label for="hr" class="ml-2">
            Human resources
          </label>
          <p-radioButton
            id="hr"
            name="recruiter_type"
            value="recruiter_type"
            formControlName="recruiter_type"
            inputId="hr" />
        </div>
        <div class="flex align-items-center gap-1">
          <label for="tech" class="ml-2">
            Technical
          </label>
          <p-radioButton
            id="tech"
            name="recruiter_type"
            value="recruiter_type"
            formControlName="recruiter_type"
            inputId="tech" />
        </div>
      </div>
    </div>

  <div class="flex flex-row gap-3" >
    <div class="flex flex-column gap-2 my-2 w-6 " >
      <label for="spec">speciality</label>
      <input
        pInputText
        id="spec"
        aria-describedby="duration-help"
        formControlName="speciality" />
    </div>
    <div class="flex flex-column gap-2 my-2 w-6 " >
      <label for="spec">Company</label>
      <input
        pInputText
        id="company"
        aria-describedby="company-help"
        formControlName="company" />
    </div>
  </div>




    <p-button label="Submit" (click)="onSubmit()" />
  </form>
</p-dialog>

