<p-table [value]="validations ? validations : []"
         [tableStyle]="{
         'min-width': '50rem',
         'padding': '1rem'
         }"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Code</th>
      <th>Topic</th>
      <th>Validation Date</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-validation>
    <tr>
      <td>{{ validation.id }}</td>
      <td>{{ validation.topic.name }}</td>
      <td>{{ validation.validatedAt }}</td>
    </tr>
  </ng-template>
</p-table>

