<p-table [value]="candidaciesByCandidate.content ? candidaciesByCandidate.content : []"
         [tableStyle]="{
         'min-width': '50rem',
         'padding': '1rem'
         }"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Code</th>
      <th>Topic</th>
      <th>State</th>
      <th>Creation Date</th>
      <th>Progress</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-candidacy>
    <tr>
      <td>{{ candidacy.id }}</td>
      <td>{{ candidacy.topic.name }}</td>
      <td>
        <p-badge [value]="candidacy.status" severity="info" />
      </td>
      <td>{{ candidacy.createdAt }}</td>
      <td>
        <p-progressBar [value]="candidacy.progress">
          <ng-template pTemplate="content" let-value>
            <span>{{value}}/100</span>
          </ng-template>
        </p-progressBar>
      </td>
    </tr>
  </ng-template>
</p-table>

