<div class="flex flex-column
 w-auto h-screen
 border-right-1 border-300
 gap-4
 ml-2
 mr-2
">
  <app-avatar />
  <div class="flex flex-column" >
    <p routerLink="/recruiter/topics" >
      <span class="pi pi-book" ></span>
      Topics</p>
    <p routerLink="/recruiter/candidacies" >
      <span class="pi pi-user" ></span>
      candidacies</p>
    <p routerLink="/recruiter/validations" >
      <span class="pi pi-thumbs-up-fill" ></span>
      validations</p>
  </div>
  <p>
  <app-confirm-dialog />

</div>


