<div class="border-1 border-300 border-round-lg p-4 m-6" >
  <p class="text-4xl border-bottom-1 pb-3 border-300 mt-0" >Activate your account</p>
  <div class="card flex flex-column align-items-center" >
    <p class="text-xl" >Insert the code we sent to your email</p>
    <p-inputOtp [length]="6" [integerOnly]="true" />
  </div>
  <div class="flex flex-row justify-content-center gap-3 m-3" >
    <p-button label="Submit" />
    <p-button label="Resend code" [outlined]="true" />
  </div>
  <div class="flex flex-row justify-content-center" >
    <p-button label="Go back to registration"
              [link]="true" class="align-self-center"
              (onClick)="this.router.navigate(['/register/candidate'])"
    />
  </div>
</div>

